@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root{
    --clr-white: #fff;
    --clr-grey200: #e2e8f0;
    --clr-grey900: #0f172a;
    --clr-black: #0d0d0d;
    --clr-yellow: #f0db51;
    --shadow-1: 0 1px 3px 0 rgba(0,0,0,.1),
                0 1px 2px 0 rgba(0,0,0,.06);

    /* sizes */
    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
}

*{
    margin: 0;
    line-height: calc(1em + 0.5rem);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--clr-white);
    color: var(--clr-grey900);
    overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button{
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-yellow);
}

.foot {
    font-size: var(--size-xs);
    font-weight: 400;
    color: rgba(20, 18, 51, 0.3);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    user-select: none;
}

/* Scroolbar */
body::-webkit-scrollbar {
    width: 8px;
  }
  
  body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: var(--clr-yellow);
    border-radius: 5px;
  }